{% extends "base.html" %}

{% block content %}

<h1 class="page-title">⚙️ Configurações</h1>

<div class="card">
  <h2>👤 Adicionar Perfil</h2>

  <div class="row">
    <div class="field">
      <label>Nome exibido</label>
      <input type="text" id="nome" placeholder="Ex: João">
    </div>

  <div class="row">
    <div class="field">
      <label>Senha</label>
      <input type="text" id="senha" placeholder="Ex: 1234">
    </div>

  <div class="row">
    <div class="field">
      <label>Permissão</label>
      <input type="text" id="role" placeholder="admin ou visitante">
    </div>

<div class="actions">
  <button class="btn-secondary">Cancelar</button>
  <button class="btn-primary" onclick="salvarConfiguracoes()">
    Salvar Configurações
  </button>
</div>

<h2>-------------------------------</h2> 


<h2>Usuários cadastrados</h2>
<table id="usersTable">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Perfil</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>


<script>
async function carregarUsuarios() {
  const res = await fetch("/api/users");
  const users = await res.json();

  const tbody = document.querySelector("#usersTable tbody");
  tbody.innerHTML = "";

  users.forEach(u => {
    const tr = document.createElement("tr");

    tr.innerHTML = `
      <td>${u.username}</td>
      <td>${u.role}</td>
      <td>
        <button onclick="apagarUsuario(${u.id})">🗑 Apagar</button>
      </td>
    `;

    tbody.appendChild(tr);
  });
}

async function apagarUsuario(id) {
  if (!confirm("Tem certeza que deseja apagar este usuário?")) return;

  const res = await fetch(`/api/users/${id}`, {
    method: "DELETE"
  });

  if (res.ok) {
    carregarUsuarios();
  } else {
    alert("Erro ao apagar usuário");
  }
}

carregarUsuarios();
</script>

<script src="/static/settings.js"></script>

{% endblock %}
